In [93]:
!ls | grep sqlite

movies.sqlite
ratings.sqlite

In [94]:
import pandas as pd
import numpy as np

In [95]:
import sqlite3

In [96]:
conn = sqlite3.connect('ratings.sqlite')
cursor = conn.cursor()

In [97]:
query1 = """
select *
from tweets
where imdb_links like "%title/tt%"
"""

query2 = """
select *
from ratings
"""

In [98]:
tweets = pd.read_sql(query1, conn)
tweets

,conversation_id,tweet,imdb_links,username,date,twiter_id,unix_time
0,1621934533418295299,I rated The Truman Show (1998) 9/10 #IMDb http...,https://www.imdb.com/title/tt0120382,_5Turki,2023-02-04 23:41:41,1287855844294615040,1675554101.0
1,1621928337760288768,I rated George &amp; Tammy (20222023) 8/10 #IM...,https://www.imdb.com/title/tt5545398,Basim2022,2023-02-04 23:17:04,339022981,1675552624.0
2,1621926147633078274,I rated Big Little Lies (20172019) 7/10 #IMDb ...,https://www.imdb.com/title/tt3920596,manella___,2023-02-04 23:08:22,780755842240946178,1675552102.0
3,1621925212747976706,I rated Plane (2023) 7/10 #IMDb https://t.co/y...,https://www.imdb.com/title/tt5884796,NoraAlosaimi_,2023-02-04 23:04:39,1243701769550643206,1675551879.0
4,1621923672486199296,I rated The Banshees of Inisherin (2022) 9/10 ...,https://www.imdb.com/title/tt11813216,GoGoJiii,2023-02-04 22:58:32,128482648,1675551512.0
...,...,...,...,...,...,...,...
134989,1622971801021321217,I rated The Buddha of Suburbia (19931993) 8/10...,https://www.imdb.com/title/tt0105963,TheOttoDude,2023-02-07 20:23:25,100020123,1675801405.0
134990,1622966637627600898,I rated Blonde (2022) 7/10 #IMDb https://t.co/...,https://www.imdb.com/title/tt1655389,Sgboy01,2023-02-07 20:02:54,78264349,1675800174.0
134991,1622952018607472640,I rated The Draughtsman's Contract (1982) 6/10...,https://www.imdb.com/title/tt0083851,nawienrgrth,2023-02-07 19:04:48,250711809,1675796688.0
134992,1622937847748612096,I rated The Last of Us: Please Hold to My Hand...,https://www.imdb.com/title/tt14500890,IYSAG8,2023-02-07 18:08:30,1255218735465598986,1675793310.0
134993,1622931253593882625,I rated Top of the Pops: Episode #17.6 (S17.E6...,https://www.imdb.com/title/tt0730481,imdbmap,2023-02-07 17:42:18,3437023271,1675791738.0

In [99]:
ratings = pd.read_sql(query2, conn)

In [100]:
ratings

,twiter_id,unix_time,tweet,r_url,movie_id,rating
0,501285612,1638117369.0,I rated Arcane: League of Legends (2021) 9/10 ...,https://www.imdb.com/title/tt11126994,11126994,9/10
1,2346718712,1636430122.0,I rated The Harder They Fall (2021) 8/10 #IMDb...,https://www.imdb.com/title/tt10696784,10696784,8/10
2,1175541274646077440,1636429422.0,I rated Noragami: Revival (S2.E11) 9/10 #IMDb ...,https://www.imdb.com/title/tt5266652,5266652,9/10
3,391417870,1636429208.0,I rated FC Bayern - Behind the Legend (2021) 1...,https://www.imdb.com/title/tt14010212,14010212,10/10
4,457819149,1636429138.0,I rated My Name (2021) season one 7/10 #IMDb h...,https://www.imdb.com/title/tt12940504/,12940504,7/10
...,...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,1259571,8/10
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,1099212,6/10
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,50083,10/10
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,1844624,8/10
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,329200,2/10

In [101]:
ratings.drop('movie_id', axis=1, inplace=True)

In [102]:
ratings

,twiter_id,unix_time,tweet,r_url,rating
0,501285612,1638117369.0,I rated Arcane: League of Legends (2021) 9/10 ...,https://www.imdb.com/title/tt11126994,9/10
1,2346718712,1636430122.0,I rated The Harder They Fall (2021) 8/10 #IMDb...,https://www.imdb.com/title/tt10696784,8/10
2,1175541274646077440,1636429422.0,I rated Noragami: Revival (S2.E11) 9/10 #IMDb ...,https://www.imdb.com/title/tt5266652,9/10
3,391417870,1636429208.0,I rated FC Bayern - Behind the Legend (2021) 1...,https://www.imdb.com/title/tt14010212,10/10
4,457819149,1636429138.0,I rated My Name (2021) season one 7/10 #IMDb h...,https://www.imdb.com/title/tt12940504/,7/10
...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,8/10
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,6/10
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,10/10
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,8/10
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,2/10

In [103]:
ratings['movie_id'] = ratings['r_url'].str.extract(r'/title/(tt\d+)/?')
ratings

,twiter_id,unix_time,tweet,r_url,rating,movie_id
0,501285612,1638117369.0,I rated Arcane: League of Legends (2021) 9/10 ...,https://www.imdb.com/title/tt11126994,9/10,tt11126994
1,2346718712,1636430122.0,I rated The Harder They Fall (2021) 8/10 #IMDb...,https://www.imdb.com/title/tt10696784,8/10,tt10696784
2,1175541274646077440,1636429422.0,I rated Noragami: Revival (S2.E11) 9/10 #IMDb ...,https://www.imdb.com/title/tt5266652,9/10,tt5266652
3,391417870,1636429208.0,I rated FC Bayern - Behind the Legend (2021) 1...,https://www.imdb.com/title/tt14010212,10/10,tt14010212
4,457819149,1636429138.0,I rated My Name (2021) season one 7/10 #IMDb h...,https://www.imdb.com/title/tt12940504/,7/10,tt12940504
...,...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,8/10,tt1259571
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,6/10,tt1099212
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,10/10,tt0050083
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,8/10,tt1844624
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,2/10,tt0329200

In [104]:
tweets

,conversation_id,tweet,imdb_links,username,date,twiter_id,unix_time
0,1621934533418295299,I rated The Truman Show (1998) 9/10 #IMDb http...,https://www.imdb.com/title/tt0120382,_5Turki,2023-02-04 23:41:41,1287855844294615040,1675554101.0
1,1621928337760288768,I rated George &amp; Tammy (20222023) 8/10 #IM...,https://www.imdb.com/title/tt5545398,Basim2022,2023-02-04 23:17:04,339022981,1675552624.0
2,1621926147633078274,I rated Big Little Lies (20172019) 7/10 #IMDb ...,https://www.imdb.com/title/tt3920596,manella___,2023-02-04 23:08:22,780755842240946178,1675552102.0
3,1621925212747976706,I rated Plane (2023) 7/10 #IMDb https://t.co/y...,https://www.imdb.com/title/tt5884796,NoraAlosaimi_,2023-02-04 23:04:39,1243701769550643206,1675551879.0
4,1621923672486199296,I rated The Banshees of Inisherin (2022) 9/10 ...,https://www.imdb.com/title/tt11813216,GoGoJiii,2023-02-04 22:58:32,128482648,1675551512.0
...,...,...,...,...,...,...,...
134989,1622971801021321217,I rated The Buddha of Suburbia (19931993) 8/10...,https://www.imdb.com/title/tt0105963,TheOttoDude,2023-02-07 20:23:25,100020123,1675801405.0
134990,1622966637627600898,I rated Blonde (2022) 7/10 #IMDb https://t.co/...,https://www.imdb.com/title/tt1655389,Sgboy01,2023-02-07 20:02:54,78264349,1675800174.0
134991,1622952018607472640,I rated The Draughtsman's Contract (1982) 6/10...,https://www.imdb.com/title/tt0083851,nawienrgrth,2023-02-07 19:04:48,250711809,1675796688.0
134992,1622937847748612096,I rated The Last of Us: Please Hold to My Hand...,https://www.imdb.com/title/tt14500890,IYSAG8,2023-02-07 18:08:30,1255218735465598986,1675793310.0
134993,1622931253593882625,I rated Top of the Pops: Episode #17.6 (S17.E6...,https://www.imdb.com/title/tt0730481,imdbmap,2023-02-07 17:42:18,3437023271,1675791738.0

In [105]:
tweets['movie_id'] = tweets['imdb_links'].str.extract(r'/title/(tt\d+)/?')
tweets

,conversation_id,tweet,imdb_links,username,date,twiter_id,unix_time,movie_id
0,1621934533418295299,I rated The Truman Show (1998) 9/10 #IMDb http...,https://www.imdb.com/title/tt0120382,_5Turki,2023-02-04 23:41:41,1287855844294615040,1675554101.0,tt0120382
1,1621928337760288768,I rated George &amp; Tammy (20222023) 8/10 #IM...,https://www.imdb.com/title/tt5545398,Basim2022,2023-02-04 23:17:04,339022981,1675552624.0,tt5545398
2,1621926147633078274,I rated Big Little Lies (20172019) 7/10 #IMDb ...,https://www.imdb.com/title/tt3920596,manella___,2023-02-04 23:08:22,780755842240946178,1675552102.0,tt3920596
3,1621925212747976706,I rated Plane (2023) 7/10 #IMDb https://t.co/y...,https://www.imdb.com/title/tt5884796,NoraAlosaimi_,2023-02-04 23:04:39,1243701769550643206,1675551879.0,tt5884796
4,1621923672486199296,I rated The Banshees of Inisherin (2022) 9/10 ...,https://www.imdb.com/title/tt11813216,GoGoJiii,2023-02-04 22:58:32,128482648,1675551512.0,tt11813216
...,...,...,...,...,...,...,...,...
134989,1622971801021321217,I rated The Buddha of Suburbia (19931993) 8/10...,https://www.imdb.com/title/tt0105963,TheOttoDude,2023-02-07 20:23:25,100020123,1675801405.0,tt0105963
134990,1622966637627600898,I rated Blonde (2022) 7/10 #IMDb https://t.co/...,https://www.imdb.com/title/tt1655389,Sgboy01,2023-02-07 20:02:54,78264349,1675800174.0,tt1655389
134991,1622952018607472640,I rated The Draughtsman's Contract (1982) 6/10...,https://www.imdb.com/title/tt0083851,nawienrgrth,2023-02-07 19:04:48,250711809,1675796688.0,tt0083851
134992,1622937847748612096,I rated The Last of Us: Please Hold to My Hand...,https://www.imdb.com/title/tt14500890,IYSAG8,2023-02-07 18:08:30,1255218735465598986,1675793310.0,tt14500890
134993,1622931253593882625,I rated Top of the Pops: Episode #17.6 (S17.E6...,https://www.imdb.com/title/tt0730481,imdbmap,2023-02-07 17:42:18,3437023271,1675791738.0,tt0730481

In [106]:
# plt.style.use('fivethirtyeight')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [107]:
tweets['tweet'].sample()

90383    I rated Mortal Kombat (2021) 8/10 #IMDb https:...
Name: tweet, dtype: object

In [110]:
tweets['rating'] = tweets['tweet'].apply(lambda x: re.search(r'(\d+)(?:/10|\s*\|)\s*#IMDb', x).group(1) if re.search(r'(\d+)(?:/10|\s*\|)\s*#IMDb', x) else None)

In [111]:
tweets

,conversation_id,tweet,imdb_links,username,date,twiter_id,unix_time,movie_id,rating
0,1621934533418295299,I rated The Truman Show (1998) 9/10 #IMDb http...,https://www.imdb.com/title/tt0120382,_5Turki,2023-02-04 23:41:41,1287855844294615040,1675554101.0,tt0120382,9
1,1621928337760288768,I rated George &amp; Tammy (20222023) 8/10 #IM...,https://www.imdb.com/title/tt5545398,Basim2022,2023-02-04 23:17:04,339022981,1675552624.0,tt5545398,8
2,1621926147633078274,I rated Big Little Lies (20172019) 7/10 #IMDb ...,https://www.imdb.com/title/tt3920596,manella___,2023-02-04 23:08:22,780755842240946178,1675552102.0,tt3920596,7
3,1621925212747976706,I rated Plane (2023) 7/10 #IMDb https://t.co/y...,https://www.imdb.com/title/tt5884796,NoraAlosaimi_,2023-02-04 23:04:39,1243701769550643206,1675551879.0,tt5884796,7
4,1621923672486199296,I rated The Banshees of Inisherin (2022) 9/10 ...,https://www.imdb.com/title/tt11813216,GoGoJiii,2023-02-04 22:58:32,128482648,1675551512.0,tt11813216,9
...,...,...,...,...,...,...,...,...,...
134989,1622971801021321217,I rated The Buddha of Suburbia (19931993) 8/10...,https://www.imdb.com/title/tt0105963,TheOttoDude,2023-02-07 20:23:25,100020123,1675801405.0,tt0105963,8
134990,1622966637627600898,I rated Blonde (2022) 7/10 #IMDb https://t.co/...,https://www.imdb.com/title/tt1655389,Sgboy01,2023-02-07 20:02:54,78264349,1675800174.0,tt1655389,7
134991,1622952018607472640,I rated The Draughtsman's Contract (1982) 6/10...,https://www.imdb.com/title/tt0083851,nawienrgrth,2023-02-07 19:04:48,250711809,1675796688.0,tt0083851,6
134992,1622937847748612096,I rated The Last of Us: Please Hold to My Hand...,https://www.imdb.com/title/tt14500890,IYSAG8,2023-02-07 18:08:30,1255218735465598986,1675793310.0,tt14500890,8
134993,1622931253593882625,I rated Top of the Pops: Episode #17.6 (S17.E6...,https://www.imdb.com/title/tt0730481,imdbmap,2023-02-07 17:42:18,3437023271,1675791738.0,tt0730481,10

In [112]:
ratings['rating_2'] = ratings['tweet'].apply(lambda x: re.search(r'(?<=I rated\s.*\s)\b(\d+)(?:/10|\s*\|)\s*#IMDb\b', x).group(1) if re.search(r'(?<=I rated\s.*\s)\b(\d+)(?:/10|\s*\|)\s*#IMDb\b', x) else None)

error: look-behind requires fixed-width pattern

In [ ]:
ratings

In [113]:
tweets['rating'].unique()

array(['9', '8', '7', '6', '10', '3', '4', '5', '1', None, '2', '0', '11',
       '100', '67', '57', '36', '10000000', '75', '1000000', '1000',
       '100000', '100000000000000000', '10000000000000', '88', '85',
       '0000', '1000000000000000', '10000', '1000000000', '25', '37',
       '100000000000000000000000000000000000000000000000000000000000000000000000000000000000000',
       '99', '10000000000', '000', '100000000', '20', '29', '129',
       '10000000000000000000000000000000000000000000000', '13',
       '19865666', '1000000000000000000', '09', '1000000000000', '38',
       '007', '50', '12', '45', '6134500', '15', '9999999999', '23',
       '100000000000', '74', '73', '69', '5445776478', '14', '999',
       '100000000000000', '95', '53'], dtype=object)

In [114]:
tweets['rat'] = tweets['tweet'].str.extract(r'([0-9]+)/10')
tweets

,conversation_id,tweet,imdb_links,username,date,twiter_id,unix_time,movie_id,rating,rat
0,1621934533418295299,I rated The Truman Show (1998) 9/10 #IMDb http...,https://www.imdb.com/title/tt0120382,_5Turki,2023-02-04 23:41:41,1287855844294615040,1675554101.0,tt0120382,9,9
1,1621928337760288768,I rated George &amp; Tammy (20222023) 8/10 #IM...,https://www.imdb.com/title/tt5545398,Basim2022,2023-02-04 23:17:04,339022981,1675552624.0,tt5545398,8,8
2,1621926147633078274,I rated Big Little Lies (20172019) 7/10 #IMDb ...,https://www.imdb.com/title/tt3920596,manella___,2023-02-04 23:08:22,780755842240946178,1675552102.0,tt3920596,7,7
3,1621925212747976706,I rated Plane (2023) 7/10 #IMDb https://t.co/y...,https://www.imdb.com/title/tt5884796,NoraAlosaimi_,2023-02-04 23:04:39,1243701769550643206,1675551879.0,tt5884796,7,7
4,1621923672486199296,I rated The Banshees of Inisherin (2022) 9/10 ...,https://www.imdb.com/title/tt11813216,GoGoJiii,2023-02-04 22:58:32,128482648,1675551512.0,tt11813216,9,9
...,...,...,...,...,...,...,...,...,...,...
134989,1622971801021321217,I rated The Buddha of Suburbia (19931993) 8/10...,https://www.imdb.com/title/tt0105963,TheOttoDude,2023-02-07 20:23:25,100020123,1675801405.0,tt0105963,8,8
134990,1622966637627600898,I rated Blonde (2022) 7/10 #IMDb https://t.co/...,https://www.imdb.com/title/tt1655389,Sgboy01,2023-02-07 20:02:54,78264349,1675800174.0,tt1655389,7,7
134991,1622952018607472640,I rated The Draughtsman's Contract (1982) 6/10...,https://www.imdb.com/title/tt0083851,nawienrgrth,2023-02-07 19:04:48,250711809,1675796688.0,tt0083851,6,6
134992,1622937847748612096,I rated The Last of Us: Please Hold to My Hand...,https://www.imdb.com/title/tt14500890,IYSAG8,2023-02-07 18:08:30,1255218735465598986,1675793310.0,tt14500890,8,8
134993,1622931253593882625,I rated Top of the Pops: Episode #17.6 (S17.E6...,https://www.imdb.com/title/tt0730481,imdbmap,2023-02-07 17:42:18,3437023271,1675791738.0,tt0730481,10,10

In [115]:
tweets['rat'].unique()

array(['9', '8', '7', '6', '10', '3', '4', '5', '1', nan, '2', '0', '11',
       '100', '67', '57', '36', '10000000', '75', '1000000', '1000',
       '100000', '100000000000000000', '10000000000000', '88', '85',
       '0000', '1000000000000000', '10000', '1000000000', '25', '37',
       '100000000000000000000000000000000000000000000000000000000000000000000000000000000000000',
       '99', '10000000000', '000', '100000000', '20', '29', '129',
       '10000000000000000000000000000000000000000000000', '13',
       '19865666', '1000000000000000000', '09', '1000000000000', '38',
       '007', '50', '12', '45', '6134500', '15', '9999999999', '23',
       '100000000000', '74', '73', '69', '5445776478', '14', '999',
       '100000000000000', '95', '53'], dtype=object)

In [116]:
ratings['rat'] = ratings['tweet'].str.extract(r'([0-9]+)/10')

In [118]:
ratings['rat'].describe()

count     1034045
unique        162
top             8
freq       244819
Name: rat, dtype: object

In [120]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034624 entries, 0 to 1034623
Data columns (total 7 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   twiter_id  1034624 non-null  object
 1   unix_time  1034624 non-null  object
 2   tweet      1034624 non-null  object
 3   r_url      1034624 non-null  object
 4   rating     1034624 non-null  object
 5   movie_id   1034624 non-null  object
 6   rat        1034045 non-null  object
dtypes: object(7)
memory usage: 55.3+ MB

In [121]:
ratings1 = ratings
tweets1 = tweets

In [122]:
# Export the DataFrame to a table in the database
ratings1.to_sql('ratings1', conn, if_exists='replace', index=False)
tweets1.to_sql('tweets1', conn, if_exists='replace', index=False)
# Close the database connection
conn.close()

In [123]:
ratings1.drop('rating', axis = 1, inplace=True)

In [124]:
ratings1.drop('rat', axis = 1, inplace = True)

In [125]:
ratings1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034624 entries, 0 to 1034623
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   twiter_id  1034624 non-null  object
 1   unix_time  1034624 non-null  object
 2   tweet      1034624 non-null  object
 3   r_url      1034624 non-null  object
 4   movie_id   1034624 non-null  object
dtypes: object(5)
memory usage: 39.5+ MB

In [126]:
ratings1['rating'] = ratings1['tweet'].str.extract(r'(\d+(?:\.\d+)?)/10')

In [127]:
ratings1['rating']

0           9
1           8
2           9
3          10
4           7
           ..
1034619     8
1034620     6
1034621    10
1034622     8
1034623     2
Name: rating, Length: 1034624, dtype: object

In [129]:
conn = sqlite3.connect('ratings.sqlite')
cursor = conn.cursor()
ratings1.to_sql('ratings1', conn, if_exists='replace', index=False)

1034624

In [130]:
tweets1.drop('rat', axis = 1, inplace = True)
tweets1.drop('rating', axis = 1, inplace = True)

In [131]:
tweets1['rating'] = tweets1['tweet'].str.extract(r'(\d+(?:\.\d+)?)/10')

In [132]:
tweets1.to_sql('rating', conn, if_exists='replace', index=False)

134994

In [133]:
conn.close()

In [134]:
tweets1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134994 entries, 0 to 134993
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   conversation_id  134994 non-null  object
 1   tweet            134994 non-null  object
 2   imdb_links       134994 non-null  object
 3   username         134994 non-null  object
 4   date             134994 non-null  object
 5   twiter_id        134994 non-null  object
 6   unix_time        134994 non-null  object
 7   movie_id         134994 non-null  object
 8   rating           134867 non-null  object
dtypes: object(9)
memory usage: 9.3+ MB

In [135]:
tweets1 = tweets1.loc[:, ['twiter_id', 'unix_time', 'tweet', 'imdb_links', 'movie_id', 'rating']]

In [136]:
tweets1

,twiter_id,unix_time,tweet,imdb_links,movie_id,rating
0,1287855844294615040,1675554101.0,I rated The Truman Show (1998) 9/10 #IMDb http...,https://www.imdb.com/title/tt0120382,tt0120382,9
1,339022981,1675552624.0,I rated George &amp; Tammy (20222023) 8/10 #IM...,https://www.imdb.com/title/tt5545398,tt5545398,8
2,780755842240946178,1675552102.0,I rated Big Little Lies (20172019) 7/10 #IMDb ...,https://www.imdb.com/title/tt3920596,tt3920596,7
3,1243701769550643206,1675551879.0,I rated Plane (2023) 7/10 #IMDb https://t.co/y...,https://www.imdb.com/title/tt5884796,tt5884796,7
4,128482648,1675551512.0,I rated The Banshees of Inisherin (2022) 9/10 ...,https://www.imdb.com/title/tt11813216,tt11813216,9
...,...,...,...,...,...,...
134989,100020123,1675801405.0,I rated The Buddha of Suburbia (19931993) 8/10...,https://www.imdb.com/title/tt0105963,tt0105963,8
134990,78264349,1675800174.0,I rated Blonde (2022) 7/10 #IMDb https://t.co/...,https://www.imdb.com/title/tt1655389,tt1655389,7
134991,250711809,1675796688.0,I rated The Draughtsman's Contract (1982) 6/10...,https://www.imdb.com/title/tt0083851,tt0083851,6
134992,1255218735465598986,1675793310.0,I rated The Last of Us: Please Hold to My Hand...,https://www.imdb.com/title/tt14500890,tt14500890,8
134993,3437023271,1675791738.0,I rated Top of the Pops: Episode #17.6 (S17.E6...,https://www.imdb.com/title/tt0730481,tt0730481,10

In [137]:
ratings1

,twiter_id,unix_time,tweet,r_url,movie_id,rating
0,501285612,1638117369.0,I rated Arcane: League of Legends (2021) 9/10 ...,https://www.imdb.com/title/tt11126994,tt11126994,9
1,2346718712,1636430122.0,I rated The Harder They Fall (2021) 8/10 #IMDb...,https://www.imdb.com/title/tt10696784,tt10696784,8
2,1175541274646077440,1636429422.0,I rated Noragami: Revival (S2.E11) 9/10 #IMDb ...,https://www.imdb.com/title/tt5266652,tt5266652,9
3,391417870,1636429208.0,I rated FC Bayern - Behind the Legend (2021) 1...,https://www.imdb.com/title/tt14010212,tt14010212,10
4,457819149,1636429138.0,I rated My Name (2021) season one 7/10 #IMDb h...,https://www.imdb.com/title/tt12940504/,tt12940504,7
...,...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,tt1259571,8
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,tt1099212,6
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,tt0050083,10
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,tt1844624,8
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,tt0329200,2

In [139]:
ratings1 = ratings1.rename(columns={'r_url': 'imdb_links'})

In [140]:
ratings1

,twiter_id,unix_time,tweet,imdb_links,movie_id,rating
0,501285612,1638117369.0,I rated Arcane: League of Legends (2021) 9/10 ...,https://www.imdb.com/title/tt11126994,tt11126994,9
1,2346718712,1636430122.0,I rated The Harder They Fall (2021) 8/10 #IMDb...,https://www.imdb.com/title/tt10696784,tt10696784,8
2,1175541274646077440,1636429422.0,I rated Noragami: Revival (S2.E11) 9/10 #IMDb ...,https://www.imdb.com/title/tt5266652,tt5266652,9
3,391417870,1636429208.0,I rated FC Bayern - Behind the Legend (2021) 1...,https://www.imdb.com/title/tt14010212,tt14010212,10
4,457819149,1636429138.0,I rated My Name (2021) season one 7/10 #IMDb h...,https://www.imdb.com/title/tt12940504/,tt12940504,7
...,...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,tt1259571,8
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,tt1099212,6
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,tt0050083,10
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,tt1844624,8
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,tt0329200,2

In [141]:
final = pd.concat([tweets1, ratings1], axis=0)

In [142]:
final

,twiter_id,unix_time,tweet,imdb_links,movie_id,rating
0,1287855844294615040,1675554101.0,I rated The Truman Show (1998) 9/10 #IMDb http...,https://www.imdb.com/title/tt0120382,tt0120382,9
1,339022981,1675552624.0,I rated George &amp; Tammy (20222023) 8/10 #IM...,https://www.imdb.com/title/tt5545398,tt5545398,8
2,780755842240946178,1675552102.0,I rated Big Little Lies (20172019) 7/10 #IMDb ...,https://www.imdb.com/title/tt3920596,tt3920596,7
3,1243701769550643206,1675551879.0,I rated Plane (2023) 7/10 #IMDb https://t.co/y...,https://www.imdb.com/title/tt5884796,tt5884796,7
4,128482648,1675551512.0,I rated The Banshees of Inisherin (2022) 9/10 ...,https://www.imdb.com/title/tt11813216,tt11813216,9
...,...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,tt1259571,8
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,tt1099212,6
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,tt0050083,10
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,tt1844624,8
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,tt0329200,2

In [143]:
final_sorted = final.sort_values('unix_time', ascending=False)

In [144]:
final_sorted

,twiter_id,unix_time,tweet,imdb_links,movie_id,rating
133571,11792552,1676919386.0,I rated Homem-Formiga e a Vespa: Quantumania (...,https://www.imdb.com/title/tt10954600,tt10954600,8
133572,2687617989,1676918311.0,I rated The Last of Us: Kin (S1.E6) 9/10 #IMDb...,https://www.imdb.com/title/tt14659496,tt14659496,9
133573,1066074792,1676916654.0,I rated Better Off Ted (20092010) 6/10 #IMDb h...,https://www.imdb.com/title/tt1235547,tt1235547,6
133574,999985291640426496,1676914880.0,I rated The Last of Us: Kin (S1.E6) 10/10 #IMD...,https://www.imdb.com/title/tt14659496,tt14659496,10
133575,1360846027796938753,1676913784.0,I rated The Truman Show (1998) 9/10 #IMDb http...,https://www.imdb.com/title/tt0120382,tt0120382,9
...,...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,tt1259571,8
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,tt1099212,6
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,tt0050083,10
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,tt1844624,8
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,tt0329200,2

In [145]:
conn = sqlite3.connect('ratings.sqlite')
cursor = conn.cursor()
final_sorted.to_sql('sorted', conn, if_exists='replace', index=False)

1169618

In [150]:
final_sorted.drop_duplicates(inplace = True)

In [151]:
final_sorted.duplicated().sum()

0

In [152]:
final_sorted.to_sql('sorted', conn, if_exists='replace', index=False)

1168009

In [153]:
user_query = """
SELECT DISTINCT twiter_id 
FROM sorted s 
"""

In [154]:
users = pd.read_sql(user_query, conn)

In [155]:
users

                 twiter_id
0                 11792552
1               2687617989
2               1066074792
3       999985291640426496
4      1360846027796938753
...                    ...
67883             52457126
67884             30227887
67885             49636481
67886             63705093
67887             11293032

[67888 rows x 1 columns]

In [156]:
final_sorted['user_id'] = final_sorted['twiter_id'].rank(method='dense').astype(int)

In [157]:
final_sorted

,twiter_id,unix_time,tweet,imdb_links,movie_id,rating,user_id
133571,11792552,1676919386.0,I rated Homem-Formiga e a Vespa: Quantumania (...,https://www.imdb.com/title/tt10954600,tt10954600,8,4323
133572,2687617989,1676918311.0,I rated The Last of Us: Kin (S1.E6) 9/10 #IMDb...,https://www.imdb.com/title/tt14659496,tt14659496,9,29703
133573,1066074792,1676916654.0,I rated Better Off Ted (20092010) 6/10 #IMDb h...,https://www.imdb.com/title/tt1235547,tt1235547,6,1690
133574,999985291640426496,1676914880.0,I rated The Last of Us: Kin (S1.E6) 10/10 #IMD...,https://www.imdb.com/title/tt14659496,tt14659496,10,67888
133575,1360846027796938753,1676913784.0,I rated The Truman Show (1998) 9/10 #IMDb http...,https://www.imdb.com/title/tt0120382,tt0120382,9,7984
...,...,...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,tt1259571,8,14019
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,tt1099212,6,14019
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,tt0050083,10,57068
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,tt1844624,8,56864
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,tt0329200,2,3147

In [160]:
final_sorted['user_id'].describe()

count    1.168009e+06
mean     3.410183e+04
std      1.902613e+04
min      1.000000e+00
25%      1.828700e+04
50%      3.452300e+04
75%      5.002100e+04
max      6.788800e+04
Name: user_id, dtype: float64

In [163]:
final_sorted[['user_id', 'twiter_id']].to_sql('users', conn, index=False)

1168009

In [164]:
users = final_sorted[['user_id', 'twiter_id']]

In [167]:
users.drop_duplicates(inplace=True)

C:\Users\harsh\AppData\Local\Temp\ipykernel_9072\1538873354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users.drop_duplicates(inplace=True)

In [168]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67888 entries, 133571 to 1034623
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    67888 non-null  int32
 1   twiter_id  67888 non-null  object
dtypes: int32(1), object(1)
memory usage: 1.3+ MB

In [169]:
users.to_sql('users', conn, index=False)

67888

In [170]:
final_ratings = final_sorted[['user_id', 'movie_id', 'rating', 'unix_time']]
final_ratings

         user_id    movie_id rating     unix_time
133571      4323  tt10954600      8  1676919386.0
133572     29703  tt14659496      9  1676918311.0
133573      1690   tt1235547      6  1676916654.0
133574     67888  tt14659496     10  1676914880.0
133575      7984   tt0120382      9  1676913784.0
...          ...         ...    ...           ...
1034619    14019   tt1259571      8  1319778909.0
1034620    14019   tt1099212      6  1319778870.0
1034621    57068   tt0050083     10  1319776650.0
1034622    56864   tt1844624      8  1319774965.0
1034623     3147   tt0329200      2  1309500902.0

[1168009 rows x 4 columns]

In [171]:
final_ratings.to_sql('ratings', conn, index=False)

1168009

In [172]:
conn.close()